<appSettings>
  <add key="FacebookAppId" value="2336804879906059"/>
  <add key="FacebookAppSecret" value="af36855f802df6cf2808f65bbeffadd1" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>